<html>
<head>
    <title>Friends</title>
    {% load staticfiles %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'belt2/css/styles.css' %}"media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="wrapper">

        <div class="button_container">
            <form action='/logout' id="logout">   
                <input type="submit" value="Log out" class="logout">
            </form>
        </div>

        {% if request.session.status == 'registered' %}
            <h2>Hello, {{user.alias}}!</h2> 
        {% endif %}

        {% if request.session.status == 'logged_in' %}
            <h2>Welcome back, {{user.alias}}!</h2>
        {% endif %}

    <div class="users_friends">
        {% if not user_friends %}
            <h3>You do not have any friends yet.</h3>
        {% endif %}

        {% if user_friends %}
            <h3>Here is the list of your friends:</h3>
            <table>

                <tr>
                    <th>Alias</th>
                    <th>Action</th>
                </tr>
                {% for friend in user_friends %} 
                    <tr>
                        <td>
                            {{friend.alias}}
                        </a>
                    </td>
                    <td>
                        <a href="user/{{friend.id}}"><input type="button" value="View Profile" class="view"></a>
                        <a href="remove/{{friend.id}}"><input type="button" value="Remove as Friend" class="remove"></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>

    <div class="users_friends">
        <h3>Other Users Not On Your Friends List</h3>
        <table>
            <tr>
                <th>Alias</th>
                <th>Action</th>
            </tr>

            {%for user in all_users%}
            <tr>
                <td><a href="user/{{user.id}}">{{user.alias}}</a></td>
                <td><a href="add/{{user.id}}"><input type="button" value="Add as Friend" class="add"></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>